.nav-header {
    display: flex;
    justify-content: center;
    
}

@media screen and (max-width: 767px) {
    .nav-header {
        flex-direction: column;
        align-items: center;
        border-bottom-style: none;
    }
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1110px;
    padding-top: 25px;
    padding-bottom: 25px;
}

@media screen and (max-width: 767px) {
    .nav-content {
        flex-direction: column;
    }
}

.nav-bar-mobile-logo-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .nav-bar-mobile-logo-container {
        display: none;
    }
}

.nav-bar-large-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1110px;
}

@media screen and (max-width: 767px) {
    .nav-bar-large-container {
        display: none;
    }
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    flex: 1;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
    .nav-menu {
        display: none;
    }
}

.nav-menu-item {
   
    margin: 10px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #475569;
}

.heading {
   
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}